.cube-dialog {
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.cube-dialog .hd {
    min-height: 19px;
}
.cube-dialog .hd h3 {
    margin-top: 0px;
}
.cube-dialog .modal-body {
    max-height: 500px;
}

.cube-dialog .alert {
    margin-bottom: 0px;
}
