<form action='{{$posturl}}' method='post'>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        {{foreach $fieldList as $item}}
        <tr id='__j_tr_{{$item.key}}'>
            {{if $item.hidden == 0}}
            <td width='30%' align='right'>
                {{$item.title}}：
            </td>
            {{/if}}
            <td width='40%'>
                {{if $item.edit}} 
                {{if $item.type == "textarea"}}
                <textarea id='{{$item.id}}' name='{{$item.key}}' style="width: {{$item.textarea_width}}px;
                    height: {{$item.textarea_height}}px">{{$item.value}}</textarea>
                {{else if $item.type == "checkbox"}} 
                {{if $item.value > 0}}
                <input type='checkbox' id='{{$item.id}}' name='{{$item.key}}' value='1' checked='' />
                {{else}}
                <input type='checkbox' id='{{$item.id}}' name='{{$item.key}}' value='1' />
                {{/if}} 
                {{else if $item.type == "select"}}
                <select name='{{$item.key}}'>
                    {{foreach $item.options as $name=>$value}} {{if $item.value == $value}}
                    <option value='{{$value}}' selected="true">{{$name}}</option>
                    {{else}}
                    <option value='{{$value}}'>{{$name}}</option>
                    {{/if}} 
                    {{/foreach}}
                </select>
                {{else if $item.type == "radio"}} {{foreach $item.options as $name=>$value}}
                {{if $item.value == $value}}
                <input id="{{$item.id}}" type="radio" checked="" value="{{$value}}" name='{{$item.key}}' />
                {{else}}
                <input id="{{$item.id}}" type="radio" value="{{$value}}" name='{{$item.key}}' />
                {{/if}} {{$name}}{{/foreach}} 
                {{else}}
                <input name='{{$item.key}}' value='{{$item.value}}' />
                {{/if}} 
                {{else if $item.edit==0 && $item.hidden == 0}} 
                {{if $item.type =="img"}}
                <img src="{{$item.value}}" />
                {{else}} 
                {{$item.value}}
                <input name='{{$item.key}}' value='{{$item.value}}' type='hidden' />
                {{/if}} 
                {{elseif $item.hidden == 1}}
                <input name='{{$item.key}}' value='{{$item.value}}' type='hidden' />
                {{/if}}
            </td>
            <td>
                <pre>{{$item.intro}}</pre>
            </td>
        </tr>
        {{/foreach}}
        <tr>
            <td>
            </td>
            <td height="40">
                <input type='hidden' name='edit_action_name' value='submit'>
                <input type="submit" value="保存" />
            </td>
            <tr>
            </table>
        </form>
