<form class="col-md-offset-2 form-horizontal" action='{{$page_data.post_url}}' method='post'>
    <input type='hidden' name='edit_action_name' value='submit'>
    {{foreach $page_data.identity_info as $key => $item_value}}
    <input type='hidden' name='{{$key}}' value='{{$item_value}}'>
    {{/foreach}}
    {{foreach $page_data.item_list as $item}}
    <div class="form-group">
        <label class="col-md-2 control-label" for="{{$item.id}}">{{$item.title}}</label>
        <div class="col-md-4">
            {{if $item.lock}}
            <input class='form-control' id="{{$item.id}}" type="text" name="{{$item.name}}" value='{{$item.value}}' disabled>
            {{else}}
            {{if $item.type == "textarea"}}
            <textarea class='form-control' id='{{$item.id}}' name='{{$item.name}}' placeholder="{{$item.placeholder}}" style="{{$item.style}}">{{$item.value}}</textarea>
            {{else if $item.type == "checkbox"}} 
            <div class='checkbox'>
                <label>
                    <input type='checkbox' id='{{$item.id}}' name='{{$item.name}}' value='1' {{$item.checked}} /> {{$item.desc}}
                </label>
            </div>
            {{else if $item.type == "select"}}
            <select class='form-control' name='{{$item.name}}'>
                {{foreach $item.options as $value => $title}} {{if $item.value == $value}}
                <option value='{{$value}}' selected="true">{{$title}}</option>
                {{else}}
                <option value='{{$value}}'>{{$title}}</option>
                {{/if}} 
                {{/foreach}}
            </select>
            {{else if $item.type == "radio"}}
            <div class=''>
                {{foreach $item.options as $value=>$title}}
                <label class='radio-inline'>
                    {{if $item.value == $value}}
                    <input id="{{$item.id}}" type="radio" checked="true" value="{{$value}}" name='{{$item.name}}' />
                    {{else}}
                    <input id="{{$item.id}}" type="radio" value="{{$value}}" name='{{$item.name}}' />
                    {{/if}}{{$title}}
                </label>
                {{/foreach}} 
            </div>
            {{else}}
            <input class='form-control' id="{{$item.id}}" type="{{$item.type}}" name="{{$item.name}}" placeholder="{{$item.placeholder}}" value='{{$item.value}}'>
            {{/if}}
            {{/if}}
        </div>
    </div>
    {{/foreach}}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn">Submit</button>
        </div>
    </div>
</form>
