<form class="form-horizontal" id="form1" action='{{$_listPageInfo.pageInfoUrl}}' method="POST">
    {{foreach $_listPageInfo.easySelectInfo.itemList as $item}}
    {{$item.des}}
    {{$id = "__j_drop_select_{{$item.field}}"}} {{if $item.type == "select"}}
    <select class="input-small" id="{{$id}}" onchange="window.jQuery('#form1').submit();" name="{{$item.field}}">
        {{$item.options nofilter}}
    </select>
    {{else}}
    <input type="text" id="{{$id}}" name="{{$item.field}}" value="{{$item.value}}" />
    {{/if}}
    {{/foreach}}

    <script>
        var $ = window.jQuery;
        {{foreach $_listPageInfo.easySelectInfo.itemList as $item}}
        {{if $item.type == 'date'}}
        $('#__j_drop_select_{{$item.field}}').simpleDatepicker({ x: 0, y: $('#__j_drop_select_{{$item.field}}').outerHeight() });
        {{/if}}
        {{/foreach}}
    </script>

    <input type="submit"/>
</form>
