RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !^/(res|static|crossDomain\.xml|robots\.txt|favicon\.ico)
RewriteRule .* index.php

### Begin Cache-Control headers
<ifModule mod_headers.c>
Header set Cache-Control "no-cache"
</ifModule>
### End Cache-Control headers
