<table cellspacing="1" cellpadding="2" width="99%" bgcolor="#d1d1d1" border="0">
    <tr height="25" bgcolor="#F0F0F0" style="text-align:center;">
        <th width="20%" scope="col">编号</th>
        <th width="20%" scope="col">ip</th>
        <th width="20%" scope="col">端口</th>
        <th width="20%" scope="col">主库</th>
        <th scope="col">是否上线</th>
    </tr>

    {{foreach $pageData.serverList as $server}}
    <tr bgColor="#ffffff" height="30">
        <td><center>{{$server.sid}}</center></td>
        <td><center>{{$server.host}}</center></td>
        <td><center>{{$server.port}}</center></td>
        <td><center>{{$server.master_sid}}</center></td>
        <td><center>{{$server.active}}</center></td>
    </tr>
    {{/foreach}}
</table>
