<a name="top"></a>

<form id="form" method="post" action="table_list.php">
        <input name="kind">
        <input name="action" type="submit"/>
    <span>共{{$tableNum}}张表</span>
</form>
<br/>
<table cellspacing="1" cellpadding="2" width="60%" bgcolor="#d1d1d1" border="0">
	<tr height="25" bgcolor="#F0F0F0" style="text-align:center;">
		<th width="10%" scope="col">表名</th>
		<th width="10%" scope="col">分表数量</th>
		<th width="10%" scope="col">id_field</th>
		<th width="10%" scope="col">详细信息</th>
		<th width="10%" scope="col">表结构</th>
		<th width="15%" scope="col">操作</th>
	</tr>

	{{foreach $tableList as $table}}
	<tr bgColor="#ffffff" height="30">
		<td>{{$table.kind}}</td>
		<td><center>{{$table.table_num}}</center></td>
		<td>{{$table.id_field}}</td>
		<td><center><a href="table_detail.php?kind={{$table.kind}}">详细信息</a></center></td>
		<td><center><a href="table_desc.php?kind={{$table.kind}}">表结构</a></center></td>
		<td>
			<center><a href="table_edit.php?kind={{$table.kind}}">修改表</a>
		</td>
	</tr>
	{{/foreach}}
</table>

<a name="notice"></a>
<a href="#top">返回顶部</a>

